template
  #content.user-content
    #options-row
      #location
        button#location-show(click.delegate="setLocation('show')") Set Location
        input#location-input(type="text" placeholder="Set your location" value="userLocation")
        button#location-save(click.delegate="setLocation('location-input')") Save
      #add-book(click.delegate="addBook()") Add Book
    #books-row-empty(if.bind="!books.length")
      | No books
      br
      | in your
      br
      | bookshelf
    #books-row(if.bind="books.length")
      .book(repeat.for="book of books")
        input.book-checkbox(type="checkbox" id="checkbox-${book.id}" ref="book.checkbox")
        .book-main
          img.book-cover(src="${book.image}")
          .book-info
            .book-title ${book.title}
            .book-options
              label.book-no-requests(if.bind="!book.requests.length") No Requests
              label.book-requests(if.bind="book.requests.length" id="label-open-${book.id}" for="checkbox-${book.id}") ${book.checkbox.checked ? 'Close Requests' : 'Show Requests'}
              label.book-remove(click.delegate="removeBook(book.id)") Remove Book
        .book-list
          .book-list-title
            | Members requesting for trade&nbsp;
            span (click to send message)
            | &nbsp;:
          .request(repeat.for="request of book.requests" click.delegate="openMessage(request)") ${request}

    new-book#add-book
    message#message(message.bind="message")