template
  #content.user-content
    #options-row
      #location
        input#location-input(type="text" placeholder="Set your preferred meetup address" value.bind="userLocation")
        button#location-save(click.delegate="setLocation('location-input', 'location-save')")
          img(src="https://material.io/tools/icons/static/icons/baseline-save-24px.svg")
      button#add-book-button(click.delegate="showAddBook()") Add Book

    #books-row-empty(if.bind="!books.length")
      | No books
      br
      | in your
      br
      | bookshelf

    #books-row(if.bind="books.length")
      .book(repeat.for="book of books" ref="book.elem")
        input.book-checkbox(type="checkbox" id="checkbox-${book.id}")
        .book-main
          img.book-cover(src="${book.image}")
          .book-info
            .book-title ${book.title}
            .book-authors
              span Author${bookSelected.authors.length === 1 ? '' : 's'}:&nbsp;
              | ${book.authors | authors}
            .book-options
              label.book-no-requests(if.bind="!book.requestList.length") No Requests
              label.book-has-requests(if.bind="book.requestList.length" id="label-open-${book.id}" click.delegate="showRequests(book)") Show Requests
              label.book-remove(click.delegate="removeBook(book)") Remove Book
        .book-requests
          .book-requests-title
            | Members requesting for trade&nbsp;
            span (click to accept/cancel request)
            | &nbsp;:
          .request(repeat.for="request of book.requestList" data-status="${request.status}")
            .request-details
              span.username ${request.username}
              span.status ${request.status === '1' ? 'User requesting' : 'Awaiting exchange'}
            .request-actions
              span.accept(click.delegate="handleRequest('accept', $index, book)") Accept
              span.done(click.delegate="handleRequest('done', $index, book)") Done
              span.cancel(click.delegate="handleRequest('cancel', $index, book)") Cancel

    add-book#add-book(book-added.call="initialise()" state.bind="state" api.bind="api" books.bind="books")