template
  #book-background(click.delegate="closeBook()")
  #book-close-button(click.delegate="closeBook()")
    img(src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_close_black_24px.svg")

  #book-container
    #book-image
      img(src.bind="bookSelected.image")

    #book-details
      #book-detail-info
        a#book-detail-title(href="${bookSelected.link}" target="_blank")
          | ${bookSelected.title}
          img(src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_launch_black_24px.svg")
        #book-detail-authors Author${bookSelected.authors.length === 1 ? '' : 's'}: ${bookSelected.authors | authors}
      #book-detail-options
        #book-detail-notlogin(if.bind="bookSelected.showList.detailNotLogin" click.delegate="bookToLogin()") Login to trade
        #book-detail-isowner(if.bind="bookSelected.showList.detailIsOwner") You have this book
        #book-detail-tradable-list(if.bind="bookSelected.showList.detailTradableList")
          .title Request trade with:
          .tradable(repeat.for="owner of bookSelected.owners" ref="owner.elem" data-status="${state.user.username ? owner.requests[state.user.username] : '0'}" click.delegate="tradeEvent(owner)")
            span.username ${owner.username}
            span.location ${owner.location}
            span.status ${owner.requests[state.user.username] === '1' ? 'Request sent' : 'Request accepted'}
            span.cancel Cancel Request

  #book-request-error
    | Sorry. There is an error processing your request.
    br
    | Please try again later.