template
  #book-background(click.delegate="closeBook()")
  #book-close-button(click.delegate="closeBook()")
    img(src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_close_black_24px.svg")

  #book-container
    #book-image
      img(src.bind="bookSelected.image")

    #book-details
      #book-detail-info
        a#book-detail-title(href="${bookSelected.link}" target="_blank")
          | ${bookSelected.title}
          img(src="https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_launch_black_24px.svg")
        #book-detail-authors Author${bookSelected.authors.length === 1 ? '' : 's'}: ${bookSelected.authors | authors}
      #book-detail-options
        #book-detail-notlogin(data-show="false" click.delegate="bookToLogin()") Login to trade
        #book-detail-isowner(data-show="false") You have this book
        #book-detail-tradable-list(data-show="false")
          .title Request trade with:
          .tradable(repeat.for="owner of bookSelected.owners" data-status.bind="setTradeStatus(owner)" click.delegate="requestTrade(owner)")
            span.username ${owner.username}
            span.location(if.bind="setTradeDisplay()") test
            span.status(if.bind="setTradeDisplay()") 00
            //- ${owner.location.length ? owner.location : 'No location available'}
            //- ${owner.status}